/* Variables start */
:root {
	--yellow: hsl(47, 88%, 63%);
	--white: hsl(0, 0%, 100%);
	--grey: hsl(0, 0%, 50%);
	--black: hsl(0, 0%, 7%);
	--attribution: hsl(228, 45%, 44%);
}
/* Variables end */

/* CSS reset start*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

img {
	display: block;
	max-width: 100%;
}
/* CSS reset end*/

body {
	font-family: "Figtree", sans-serif;
	display: flex;
	font-size: 1.6rem;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	background-color: var(--yellow);
	overflow: hidden;
}

main {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	padding: 2.4rem 2.4rem 0;
	width: 38.4rem;
	min-height: 52.2rem;
	border: 0.1rem solid var(--black);
	border-radius: 2rem;
	box-shadow: 0.8rem 0.8rem 0 0.1rem var(--black);
	margin: auto;
	transition: box-shadow 0.3s;
	position: relative;
}

main:hover {
	box-shadow: 1.3rem 1.3rem 0 0.5rem var(--black);
	cursor: pointer;
}
main:hover h1 {
	color: var(--yellow);
}

.head-img {
	height: 20rem;
	border-radius: 1rem;
	margin-bottom: 2.2rem;
	object-fit: cover;
}

.title h2 {
	background-color: var(--yellow);
	display: inline-block;
	width: 8.2rem;
	height: 2.9rem;
	font-size: 1.4rem;
	text-align: center;
	border-radius: 0.5rem;
}

.title p {
	font-size: 1.4rem;
}

h1 {
	font-size: 2.4rem;
}

h1,
.title h2 {
	font-weight: 800;
	margin-bottom: 1.6rem;
}

a:link,
a:visited {
	text-decoration: none;
}

.title h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title p {
	font-weight: 600;
	margin-bottom: 1.6rem;
}

.subtitle P {
	color: var(--grey);
	line-height: 1.5;
	margin-bottom: 2.4rem;
}

.author {
	display: flex;
	align-items: center;
}

.author h2 {
	font-size: 1.4rem;
	font-weight: 800;
}

.author img {
	width: 3.2rem;
	height: 3.2rem;
	margin-right: 1rem;
}

.attribution {
	min-width: 100%;
	text-align: center;
	font-size: 1rem;
	position: absolute;
	bottom: 0;
}

/* Media queries start */
@media (max-width: 25rem) {
	body {
		font-size: 1.4rem;
	}
	main {
		width: 32.7rem;
		min-height: 50.1rem;
	}
	header img {
		width: 27.9rem;
	}
	.title h2 {
		font-size: 1.2rem;
		width: 7.3rem;
		height: 2.6rem;
	}

	h1 {
		font-size: 2rem;
	}
}

@media (max-height: 37.5rem) {
	.attribution {
		display: none;
	}
}
